<html>
    <head>
        <title>SARA TICKETEA</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.208, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Estoy a punto de ser parte del departamento de desarrollo.</p>
        </div>

        <div>
            <p>published: 14.06.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Gracias Jérôme.</p>
        </div>
    </body>
</html>

